/* Login Page Styles */
/* Login Page Styles */
body{
  background-color: #f5f5f5;
}

.container {
  width: 1500px;
  padding-top: 20px;
  margin: 20px auto; /* Adjust the margin value to add space */
  padding: 20px;
  
  background-color: #f5f5f5;
}

/* Rest of the styles remain the same */

  
h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .error {
    color: red;
  }
  
  /* Signup Page Styles */
  #signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  /* Quiz Page Styles */
  #quiz-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  h3 {
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 15px;
  }
  
  .options label {
    display: block;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .navigation {
    background-color: rgb(122, 59, 185);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-bottom: 20px;
    padding-right: 5px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
  }

  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
  }

  .navigation li {
    display: inline-block;
    margin-left: 5px;
  }

  .navigation li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
  }

  .navigation li a:hover {
    background-color: #111;
  }

  .form-group{
    display: flex;
    justify-content: center;
    align-items: center;

  }

.btn {
    font-size: 20px;
  }
  #home-content2 {
    text-align: justify;
    margin-top: 50px;
  }

#home-content {
    text-align: justify;
  }
  
#home-content strong {
    font-weight: bold;
    font-size: 24px;
    align-content: center;
    align-items: center;
    
  }

#banner{
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
    
  }
.banner-div{

  position: relative;
  height:250px;
  width: 100%;
  overflow: hidden;
}

#dic_input{
  border-radius: 25px;
  border: 2px solid #34212e;
}

