/* Add your CSS styles for the profile page here */
body {
  font-family: Arial, sans-serif;
}

.profile-container {
  flex: 5;
  order: 2;
  text-align: justify;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: auto;
}

.profile-header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-info {
  /* background-color: #f4f4f4; */
  padding: 20px;
  border-radius: 5px;
  margin-left: 5px;
  max-width: 800px;
}

.profile-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-links {
  max-width: 600px;
}

.profile-links ul {
  list-style-type: none;
  padding: 0;
}

.profile-links li {
  margin-bottom: 10px;
}

.profile-links a {
  text-decoration: none;
  color: #f2f4f5;
}

.profile-info table {
  border: 1px solid #ccc;
}

.user-data-card,
.assigned-doctor-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

@media print {
  .dashboard-content {
    display: none;
  }

  .profile-container {
    display: block;
  }
}
